body {
    background: url(box.jpg) no-repeat;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th{
color: #f8f8f8;
    padding: .625em;
    text-align: center;
  }
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    background-color: #ff0266;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* CRD */

form {
  padding: 30px;
  border-radius: 10px;
}
form h1 {
  font-size: 20px;
}
form .separation {
  width: 25%;
  height: 4px;
  background-color: #ff0266;
}
form .corps-formulaire {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;

}

form .corps-formulaire .groupe {
  margin-top: 10px;
}
form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: #ff0266;
  border-radius: 5px;
}
form .corps-formulaire .gauche .groupe i {
  position: absolute; /* positionné par rapport à son parent le plus proche positionné */
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: #ff0266;
}
form .pied-formulaire button.aj {
    margin-top: 520px;
    margin-left: -480px;
    background-color: #ff0266;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }
form .pied-formulaire button.mod {
  margin-top: 650px;
  margin-left: -850px;
  background-color: #ff0266;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
form .pied-formulaire button.sup{
    margin-top: 30px;
    margin-left: -330px;
    background-color: #ff0266;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
  }

form .pied-formulaire button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 920px) {
  form .corps-formulaire .droite {
    margin-left: 0px;
  }
}
