<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Dropdown Menu</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: url(box.jpg) no-repeat;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

ul {
    list-style: none;
    background: #ff0266;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: flex;

}

ul li ul.dropdown {
    width: 100%;
    background: #ff0266;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #ff0266;
}

ul li:hover ul.dropdown {
    display: block;
}
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
    <nav>
        <ul>
            
        <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li>
            <a href="#"><i class="fa-regular fa-folder-open"></i>  Fiche ▾</a>
            <ul class="dropdown">
                <li><a href="/fiche_personnel"><i class="fa-solid fa-clipboard-user"></i> Personnel</a></li>
                <li><a href="/fiche_client"><i class="fa-solid fa-user-tie"></i>     Client</a></li>
                
                
            </ul>
        </li>
        <li><a href="#"><i class="fa-solid fa-address-card"></i>  About Us</a></li>
        <li><a href="#"><i class="fa-solid fa-headset"></i>  Contact Us</a></li>
        </ul>
    </nav>
    <h1>welcome to the dashboard </h1>
</body>
</html>